<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico"/>

    <title>collector</title>

    <link rel="stylesheet" href="styles/main.css">

</head>

<body>

<div class="layout"></div>

<!------------------------------------------ Dev tools ------------------------------------------>

<!-- setting fish utilities  -->
<script type="text/javascript">
    window.clone = function (obj) {
        var Clone, c;
        Clone = function () {};
        Clone.prototype = obj;
        c = new Clone();
        c.constructor = Clone;
        return c;
    };
    window.gFish = {};
    gFish.partials = {};
    window.gBlocks = {};
</script>

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>

<!-- build:js({.tmp,app}) scripts/dev/dev.js -->
<script type="text/javascript" src="bower_components\hogan\web\builds\2.0.0\hogan-2.0.0.js"></script>
<script type="text/javascript" src="scripts/dev/fish_blocks.js"></script>
<script type="text/javascript" src="scripts/dev/dev-blocks.js"></script>
<script type="text/javascript" src="scripts/dev/dev-templates.js"></script>
<script type="text/javascript" src="scripts/dev/fish_groups.js"></script>
<script type="text/javascript" src="scripts/dev/protonav.js"></script>
<!-- endbuild -->

<!--<script src="http://192.168.1.5:35729/livereload.js"></script>-->
<!--<script src="http://192.168.1.5:8080/target/target-script-min.js#anonymous"></script>-->

<script type="text/javascript">
    var templateName = 'main';
    var context = 'main';
    protoRender(localStorage.getItem('defaultProto') || templateName, localStorage.getItem('defaultFish') || context);
//    protoRender(name, context);
</script>


<!------------------------------------------ End of Dev tools ------------------------------------------>


</body>

</html>