<!DOCTYPE html>
<html lang="ru" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- insert:meta -->

    <!-- start:devMeta -->
    <meta name="description" content="">
    <link type="image/x-icon" rel="shortcut icon" href="favicon.ico"/>
    <title><%= _.slugify(projectName) %></title>
    <!-- end:devMeta -->


    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="bower/modernizr/modernizr.js"></script>
    <!-- endbuild -->

</head>

<body>

<div class="layout"><!-- insert:content --></div>

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>


<!-- build:js scripts/main.js -->
<script type="text/javascript" src="bower/fastclick/lib/fastclick.js"></script>
<script type="text/javascript" src="bower/foundation/js/foundation/foundation.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<!-- endbuild -->

<!-- insert:bottom-->
</body>

</html>